/*
.urlbarView {

    max-width: calc(100vw - 336px);
    margin-left: 134px;
    height: auto;
    margin-bottom: 100px;
    overflow: hidden !important;
    background: 

    transparent !important;

}

.search-one-offs {

    display: none !important;
    opacity: 0 !important;
    visibility: hidden !important;
    width: 0 !important;
    max-width: 0 !important;
    height: 0 !important;
    max-height: 0 !important;

}
*/

/*
#urlbar-container {
  min-height: 40px !important;
  top: -1px !important;
}
#urlbar[breakout][breakout-extend] {
  width: calc(100% + 0 * 55px);
  left: 0px;
}
*/
#urlbar {

    --urlbar-height: 30.00px !important;
    border-radius: 15px!important;
    border-color: #555 !important;
    width: calc(100% + 0 * 55px) !important;
	left: -2px !important;
}

.urlbarView-body-inner,
.search-panel-one-offs-header,
.search-panel-one-offs
{
	margin: 0 !important;
	
	background: transparent !important;
	
	color: inherit !important;
	border-radius: 0 !important;
	
	transform: translateX(var(--padding-start)) !important;
	width: calc(100% - var(--padding-start) - var(--padding-end)) !important;
	
	box-shadow:none!important;
	
	/* clip shadows such that they overlap themselves but not the content */
/*
	--top: -11px;
	--bottom: calc(100% + 18px);
	--left: -14px;
	--right: calc(100% + 14px);
	
	clip-path: polygon(
		var(--left) var(--top),
		0 var(--top),
		0 0,
		100% 0,
		100% var(--top),
		var(--right) var(--top),
		var(--right) var(--bottom),
		100% var(--bottom),
		100% 100%,
		100% var(--bottom),
		var(--left) var(--bottom)
	) !important;
*/
}

.search-one-offs {

    display: none !important;
    visibility: hidden !important;
    width: 0 !important;
    max-width: 0 !important;
    height: 0 !important;
    max-height: 0 !important;

}

.tab-background::after, .tab-background::before {

    visibility: hidden;

}

.tab-content::before {

    visibility: hidden;

}

#urlbar-background {
  border-radius: 15px !important;
  border: 0 !important;
}
.tab-content::before, .tab-content::after {
  visibility: hidden !important;
}
